.menuContainer {
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 1000;
}

.hamburgerMenu {
    padding: 1.2vh 1.2vh;
    cursor: pointer;
    width: 9vw;
    height: 9vw;
    transition: 1s;
}

.menuLink {
    color: white;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%;
}

.menuItemsContainer {
    transition: 1s;
    padding: 1.5vh 0;
}

.menuItem {
    padding: 3vh 5vw;
    max-width: 100%;
    border: solid 1px grey;
}

.menuItem:active {
    background-color: rgb(121, 121, 121);;
}