.scheduleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 4vh;
}

.scheduleElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2vh;
    border: solid 1px rgb(100, 100, 100);
    padding: 1vh 2vw;
}

.scheduleTime {
    color: white;
    font-size: 4.5vw;
    font-weight: bold;
}

.scheduleEvent {
    color: white;
    font-size: 5vw;
}