.timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 4vw;
    font-weight: bold;
    padding: 3vh 0;

    border: solid 1px grey;
}