.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;
    padding: 5vh 0;
}

.mainTitle {
    color: white;
    font-size: 7vh;
    font-weight: bold;
}

.subtitle {
    color: white;
    font-size: 5vh;
    font-weight: bold;
}