body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 39, 39);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

