.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 4vh;
}

.contactElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.2vh;
    border: solid 1px grey;
    padding: 1vh 0;
}

.contactType {
    color: white;
    font-size: 4.5vw;
}

.contactValue {
    color: white;
    font-size: 5vw;
}

a {
    color: inherit;
}